// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// my color
$m-yellow: #FFF96B;
$m-green: #9AFE6B;
$m-blue: #0BE2FF;
$m-pink: #FF46B2;
$m-black: #2d2a32;

$m-y: #fee440;
$m-g: #00f5d4;
$m-b: #00bbf9;
$m-r: #f15bb5;
$m-p: #9b5de5;
