/* ================
block style
=================*/
.block {
  p {
    font-size: 1.12rem;
  }
  li {
    font-size: 1.12rem;
  }
}

.b-black {
  border: 1px solid $m-black;
  background: $m-black;
  color: white;
  .block-title {
    color: $m-color;
    border-bottom: 2px solid white;
  }
  .block-subtitle {
    margin: 0 auto 1.25em;
  }
  .text-t-line {
    padding-bottom: 6px;
  }
}

.b-white {
  border: 1px solid white;
  background: white;
  color: $m-black;
  .block-title {
    border-bottom: 2px solid $m-black;
  }
}

.container {
  padding: 0;
  // border: 3px solid blue;
}
.container-main {
  margin: 6em auto;
  width: 70%;
  border: 3px solid red;
}

@media (min-width: 100px) and (max-width: 575px) {
  .container-main {
    width: 90%;
  }
}

.block-title {
  font-weight: 700;
  font-family: $my-font;
  color: $m-color;
  text-align: center;
  padding: 0 0 1em;
  margin: 0 0 1em;
}

.block-subtitle {
  font-weight: bold;
  font-size: 1.25rem;
  color: white;
  text-align: center;
}
/*----SKILL block----*/
.skill-list {
  display: flex;
  justify-content: center;
  // border-bottom: 2px solid $m-color;
  div {
    width: 100%;
  }
  ul {
    padding-left: 45%;
  }
  .text-t-line {
    border-bottom: 2px solid $m-color;
    text-align: center;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .skill-list {
    flex-direction: column;
  }
}

// project block
 .content.project{
  margin: 120px auto 130px;
 }
