h1 {
  font-family: $my-font-h;
  font-weight: 600;
  font-size: 50px;
  color: white;
  padding: 8px 24px;
  background: black;
  width: 480px;
}

h4 {
  font-family: $my-font-h;
  font-weight: 600;
  color: white;
  padding: 8px 24px;
  background: black;
  width: 460px;
}

.banner {
  min-height: 600px;
  background: #fee440;
}

.hearder {
  padding: 100px;
}
