// banner structure
.banner {
  height: 600px;
  background: #fee440;
}

.header{
  padding-top: 280px;
}

// font style
.banner h1 {
  font-family: $my-font-h;
  font-weight: 600;
  font-size: 50px;
  padding: 6px 24px;
  width: 480px;
  &:hover {
    width: 540px;
    padding-left: 50px;
  }
}

.banner h4 {
  font-family: $my-font-h;
  font-weight: 600;
  padding: 8px 24px;
  width: 440px;
}

// blocks style
.block {
  h3 {
    margin-bottom: 24px;
  }
}
.b-black {
  border: 1px solid black;
  background: black;
  color: white;
}
.b-white {
  border: 1px solid white;
  background: white;
  color: black;
}

.content {
  margin: 90px auto 90px;
  width: 70%;
}
.about {

}

.skill {
  .skill-type {
    margin: 0 auto 16px;
  }
  .text-t-s {
    min-width: 160px;
    margin: 0 auto 16px;
  }
}

.skill-list {
  display: flex;
  justify-content: center;
  div {
    width: 100%;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .skill-list {
    flex-direction: column;
  }
}

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {
//   .skill-list {
//     flex-direction: column;
//   }
// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {
//   .about {
//     max-height: 420px;
//   }
// }

