// blocks style
.block {
  h3 {
    margin-bottom: 65px;
  }
}

.b-black {
  border: 1px solid black;
  background: black;
  color: white;
  .text-subtitle {
    color: $m-yellow;
  }
  .text-t-s {
    margin: 0 auto 22px;
  }
  .text-t-line {
    padding-bottom: 6px;
  }
}

.b-white {
  border: 1px solid white;
  background: white;
  color: black;
}

.content {
  margin: 120px auto 130px;
  width: 70%;
}

// .skill {
//   .skill-type {
//     margin: 0 auto 16px;
//   }
// }

.skill-list {
  display: flex;
  justify-content: center;
  div {
    width: 100%;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .skill-list {
    flex-direction: column;
  }
}
