<div class="about">
  <div class="container">
    <h3 class="title-block my-5">ABOUT</h3>
    <p>Hi, my name is Yuanyuan Zhu. I am a self-motivated <strong>Full Ftack Feveloper</strong>, currently living in the <strong>Greater Montreal Area</strong>.</p>
    <p>Completed <strong><a href="https://www.lewagon.com/montreal">Le Wagon</a></strong> Bootcamp on March 2021. I am interested in <strong>full-time</strong>, <strong>part-time</strong> as well as <strong>freelance</strong> work. </p>
    <p>If you are currently hiring or have an idea for a website or want to upgrade your current website <strong><a href="yuanyuanzhu000@gmail.com">contact</a></strong> me and we can discuss your options.</p>
  </div>
</div>
