<div class="block b-white">
  <div class="container content about">
    <h3 class="text-subtitle">ABOUT</h3>
    <p>Hi, my name is Yuanyuan Zhu. I am a self-motivated <strong>Full Stack Developer</strong>, currently living in the <strong>Greater Montreal Area</strong>. Completed <strong><a href="https://www.lewagon.com/montreal" target="_blank">Le Wagon Bootcamp</a></strong> on March 2021.</p>
    <p> I am open to <strong>full-time</strong>, <strong>part-time</strong> and <strong>freelance</strong> work opportunities. </p>
    <p>If you are currently hiring or have an idea for a website or want to upgrade your current website <strong><a href="mailto:yuanyuanzhu000@gmail.com" target="_blank">contact</a></strong> me and we can discuss your options.</p>
  </div>
</div>
