<div class="white-card">
  <h1>Yuanyuan Zhu</h1>
  <img class="img-circle" src="images/me.jpg" alt="My photo" height = 150px width= 150px>
  <p>Hello, this is Vivien Zhu. Gonna be a programmer in 4 weeks</p>
  <a class="btn-blue" href="">More</a>
  <div class="white-card">
    <h2>Follow me</h2>
      <ul class="list-inline">
        <li>
          <a href="www.linkedin.com/in/yuanyuanzhu/" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
        <li>
          <a href="https://github.com/vivien-z" target="_blank">
            <i class="fab fa-github-square"></i>
          </a>
        </li>
        <li>
          <a href="" target="_blank">
            <i class="fas fa-envelope">to be added</i>
          </a>
        </li>
      </ul>
    </div>
</div>
