<div class="footer">

  <div class="container d-flex justify-content-between">
    <div class="d-flex">
      <a class="mr-5" href="www.linkedin.com/in/yuanyuanzhu/" target="_blank">
        <i class="fab fa-linkedin f-icon"></i>
      </a>
      <a class="mr-5" href="https://github.com/vivien-z" target="_blank">
        <i class="fab fa-github-square f-icon"></i>
      </a>
      <a class="mr-5" href="mailto:yuanyuanzhu000@gmail.com" target="_blank">
        <i class="fas fa-envelope f-icon"></i>
      </a>
    </div>
    <p class="text-footer">Made with ❤️ by -- <strong>YuanYuan Zhu</strong></p>
  </div>

</div>
