<div class="footer">

  <div class="container">
    <div class="icons d-flex">
      <a href="https://www.linkedin.com/in/yuanyuanzhu/" target="_blank" title="Check my LinkedIn profile.">
        <i class="fab fa-linkedin f-icon"></i>
      </a>
      <a href="https://github.com/vivien-z/" target="_blank" title="Check my GitHub account.">
        <i class="fab fa-github-square f-icon"></i>
      </a>
      <%= link_to "/shared/Resume-YuanyuanZhu-Vivien.pdf", target: "_blank", title: "Check my resume." do %>
          <i class="fas fa-address-card f-icon"></i>
      <% end %>
      <a href="mailto:yuanyuanzhu000@gmail.com" target="_blank" title="Click to email me.">
        <i class="fas fa-envelope f-icon"></i>
      </a>
    </div>
    <div>
      <!-- <p class="text-footer">A former accountant, fascinated by how much technology can change the world around us, switching careers to be a developer.</p> -->
      <p class="text-footer">Made with ❤️ by -- YuanYuan Zhu</p>
    </div>
  </div>

</div>
