<div class="block about">
  <div class="container-sm">
    <h3 class="text-subtitle my-5">ABOUT</h3>
    <p>Hi, my name is Yuanyuan Zhu. I am a self-motivated <strong>Full Ftack Feveloper</strong>, currently living in the <strong>Greater Montreal Area</strong>.</p>
    <p>Completed <strong><a href="https://www.lewagon.com/montreal">Le Wagon</a></strong> Bootcamp on March 2021. I am open to <strong>full-time</strong>, <strong>part-time</strong> and <strong>freelance</strong> work opportunities. </p>
    <p>If you are currently hiring or have an idea for a website or want to upgrade your current website <strong><a href="yuanyuanzhu000@gmail.com">contact</a></strong> me and we can discuss your options.</p>
  </div>
</div>

<div class="block skill">
  <div class="container">
    <h3 class="text-subtitle my-5">SKILLS</h3>
    <div class="d-flex">

      <div>
        <div>TECH SKILLS</div>
        <div>
          <div></div>
          <div></div>
        </div>
        <div>
          <div></div>
          <div></div>
        </div>
      </div>

      <div>

      </div>
    </div>
  </div>
</div>
