<div class="block b-white">
  <div class="container content">
    <h3 class="text-subtitle">PROJECTS</h3>

    <div class="card-project-list">
      <div>Bloom</div>

      <div>

        <div>
          <div class="card-pic" style="background-image: linear-gradient(rgba(154,254,107,0.3),rgba(154,254,107,0.3)), url('<%= image_path "bloom.jpg" %>');"></div>
          <p>XXX | XX | XXXX | XXX | XXXX | XXX | XX</p>
        </div>
        <div>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta orci at nisl bibendum, a fermentum nisl scelerisque.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
          <p>Hightlighted Functions</p>
          <ul>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta orci at nisl bibendum, a fermentum nisl scelerisque.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta orci at nisl bibendum, a fermentum nisl scelerisque.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta orci at nisl bibendum, a fermentum nisl scelerisque.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
            <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta orci at nisl bibendum, a fermentum nisl scelerisque.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. </li>
          </ul>
        </div>

      </div>

    </div>

  </div>
</div>
