<div class="block b-white">

  <div class="container content">

    <h3 class="text-subtitle">PROJECTS</h3>

    <div class="card-project-list flex-column">


        <div class="card-top d-flex">
          <div class="card-pic" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('<%= image_path "bloom.jpg" %>')">
            <p class="card-title text-wfbb">Bloom</p>
            <%= link_to "http://bloomcommunity.site/", class: "card-icon i-link text-wfbb mr-1" do %>
              <i class="fas fa-link"></i>
            <% end %>
            <%= link_to "https://github.com/Rom1023/bloom", class: "card-icon i-code text-wfbb" do %>
              <i class="fas fa-code"></i>
            <% end %>
          </div>
          <div class="card-desc">
            <p>Rails | Device | Cloudinary | PG search</p>
            <p>A web application on which doctors can post rare patient cases and look for help. Other doctors, from different regions/countries, can communicate and contribute to find the solution together.</p>
          </div>

        </div>

        <div class="card-bottom">
          <div>
            <p class="card-dp text-wfbb">Hightlighted Functions</p>
            <ul>
              <li><strong>Intent messaging</strong>. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta orci at nisl bibendum, a fermentum nisl scelerisque.</li>
              <li><strong>Cloudinary:</strong> user file saving option.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta orci at nisl bibendum, adipiscing elit.</li>
              <li><strong>PG Search:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris porta orci at nisl bibendum, a fermentum nisl scelerisque.</li>
            </ul>
          </div>

        </div>


    </div>

  </div>

</div>
