<div class="block b-black">
  <div class="container skill">
    <h3 class="text-subtitle my-5">SKILLS</h3>

    <div>

      <div class="d-flex">
        <div class="skill-l">
          <p>TECH SKILLS</p>
          <div class="d-flex justify-content-center">

              <div>
                <p>Languages</p>
                <ul>
                  <li>Ruby</li>
                  <li>HTML</li>
                  <li>CSS</li>
                  <li>JavaScript</li>
                  <li>SQL</li>
                </ul>
              </div>

              <div>
                <p>Tools & Framework</p>
                <ul>
                  <li>Ruby on Rails</li>
                  <li>Git</li>
                  <li>Bootstrap</li>
                  <li>Heroku</li>
                  <li>Cloudinary</li>
                  <li>Figma</li>
                </ul>
              </div>

          </div>
        </div>

        <div class="skill-r">
          <p>SOFT SKILLS</p>
          <p>Problem solving | Attention to detail | Communication | Analytical | Organization | Leadership</p>
        </div>
      </div>

    </div>
  </div>
</div>
