<div class="block b-black">
  <div class="container content skill">
    <h3 class="text-subtitle">SKILLS</h3>

    <div class="flex-column">

      <div class="skill-l">
        <p class="text-t-s">TECH SKILLS</p>
        <div class="skill-list">
          <div>
            <p class="text-t-line mx-3 pl-2">Languages</p>
            <ul>
              <li>Ruby</li>
              <li>HTML</li>
              <li>CSS</li>
              <li>JavaScript</li>
              <li>SQL</li>
            </ul>
          </div>
          <div>
            <p class="text-t-line mx-3 pl-2">Tools & Framework  </p>
            <ul>
              <li>Ruby on Rails</li>
              <li>Git</li>
              <li>Bootstrap</li>
              <li>Heroku</li>
              <li>Cloudinary</li>
              <li>Figma</li>
            </ul>
          </div>
        </div>
      </div>

      <div class="skill-r">
        <p class="text-t-s mt-5">SOFT SKILLS</p>
        <p class="text-center">Problem solving | Attention to detail | Communication | Analytical | Organization | Leadership</p>
      </div>

    </div>

  </div>
</div>
