<%= render("shared/banner") %>
<%= render("shared/about") %>
<%= render("shared/skill") %>
<%= render("shared/project") %>

<div class="container">

  <div class="white-card">
    <h2>List of projects</h2>
  </div>

  <div class="white-card">
    <h2>Follow me</h2>
      <ul class="list-inline">
        <li>
          <a href="www.facebook.com" target="_blank">
            <i class="fab fa-facebook-square"></i>
          </a>
        </li>
        <li>
          <a href="www.github.com" target="_blank">
            <i class="fab fa-github-square"></i>
          </a>
        </li>
        <li>
          <a href="www.linkedin.com" target="_blank">
            <i class="fab fa-linkedin"></i>
          </a>
        </li>
      </ul>
  </div>

</div>
