/* ================
  card style
=================*/
.card-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card-project-list {
  width: 360px;
  max-width: 854px;
  padding: 2.5em 2em;
  border: 1px solid $m-color-d;
  margin: 2.5em 1.25em 0;
  display: flex;
  justify-content: center;
  align-items: center;
  // margin: 2.5em auto;
  // padding: 2.4em 0;
  // justify-content: space-evenly;
  p {
    font-size: 1em;
  }
  &:hover {
    border: 1px solid $m-color-d;
    box-shadow: 1px 4px 15px lightgray;
  }
}

.card-part {
  ul {
    padding-left: 0; //1.625em
    margin-bottom: 0;
  }
  li {
    list-style-type: none;
  }
}

.card-pic {
  position: relative;
  height: 210px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.card-title {
  position: absolute;
  left: -2.2em;
  top: -1.25em;
  padding: 0.8em 2.8em;
  font-family: $my-font;
  font-weight: bold;
  font-size: 1.5rem;
  background: $m-color-d;
}
/*----card button----*/
.card-icon {
  padding: 0.375em 0.875em;
  border: 3px solid $m-color;
  &:hover {
    background: $m-color-d;
    border: 3px solid $m-color-d;
    i {
      background: $m-color-d;
      color: white;
    }
  }
}
.i-link {
  padding: 0.375em 1em;
}
// button position
.btml {
  position: absolute;
  right: 1.75em;
  bottom: 0.6em;
}
.btmr {
  position: absolute;
  right: -1.25em;
  bottom: 0.6em;
}
/*-------------------*/
.card-desc p {
  margin: 1em 0;
}

.card-s-title {
  margin-bottom: 1.25em;
  font-size: 1.25rem;
  text-align: center;
}

@media (min-width: 100px) and (max-width: 575px) {
  .card-content {
    display: block;
  }
  .card-project-list {
    flex-direction: column;
    padding: 1em;
    width: 100%;
  }
  .card-title {
    left: -1.5em;
    top: -1.5em;
  }
  .i-code {
    right: -1.5em;
  }
}

// // Smallest device
// @media (min-width: 100px) and (max-width: 575px) {

// }

// // Small devices (landscape phones, 576px and up)
// @media (min-width: 576px) {

// }

// // Medium devices (tablets, 768px and up)
// @media (min-width: 768px) {

// }

// // Large devices (desktops, 992px and up)
// @media (min-width: 992px) {

// }

// // Extra large devices (large desktops, 1200px and up)
// @media (min-width: 1200px) {

// }
