.card-pic {
  // background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url('<%= image_path "bloom.jpg", class: "pic" %>');
  height: 200px;
  width: 300px;
  background-size: cover;
  background-position: center;
}

.card-side {
  width: 50%;
}
