.fa-bars {
  margin-left: 14px;
  font-size: 30px;
  font-weight: bold;
}

.icon-social {
  font-size: 24px;
  padding: 2px 24px;
  margin-top: 30px;
  background: $m-black;
  width: 260px;
}

.fa-linkedin {
  color: $m-green;
  border: 4px solid transparent;
  &:hover {
    color: $m-black;
    border: 4px solid $m-green;
    border-radius: 2px;
    background: $m-green;
  }
}

.fa-github-square {
  color: $m-yellow;
  border: 4px solid transparent;
  &:hover {
    color: $m-black;
    border: 4px solid $m-yellow;
    border-radius: 2px;
    background: $m-yellow;
  }
}

.fa-envelope {
  color: $m-blue;
  border: 4px solid transparent;
  &:hover {
    color: $m-black;
    border: 4px solid $m-blue;
    border-radius: 2px;
    background: $m-blue;
  }
}

.fa-address-card {
  color: $m-orange;
  border: 4px solid transparent;
  &:hover {
    color: $m-black;
    border: 4px solid $m-orange;
    border-radius: 2px;
    background: $m-orange;
  }
}
