/* ================
  icon style
=================*/

/*----navbar icon----*/
.navbar-toggler {
  border: none;
}

.fa-bars {
  font-size: 32px;
}

/*----contact icon----*/
.icon-social {
  background: $m-black;
  width: 11em;
  font-size: 1.5rem;
  padding: 0.1em 1em 0;
  margin-top: 1.25em;
  justify-content: center;
  i {
    margin-right: 1em;
  }
}

.fa-linkedin {
  color: $m-green;
  border: 4px solid transparent;
  &:hover {
    color: $m-black;
    border: 4px solid $m-green;
    border-radius: 2px;
    background: $m-green;
  }
}

.fa-github-square {
  color: $m-yellow;
  border: 4px solid transparent;
  &:hover {
    color: $m-black;
    border: 4px solid $m-yellow;
    border-radius: 2px;
    background: $m-yellow;
  }
}

.fa-address-card {
  color: $m-orange;
  border: 4px solid transparent;
  &:hover {
    color: $m-black;
    border: 4px solid $m-orange;
    border-radius: 2px;
    background: $m-orange;
  }
}

.fa-envelope {
  color: $m-blue;
  border: 4px solid transparent;
  &:hover {
    color: $m-black;
    border: 4px solid $m-blue;
    border-radius: 2px;
    background: $m-blue;
  }
}

@media (min-width: 100px) and (max-width: 575px) {
  .icon-social {
    margin: 1em auto;
    justify-content: space-between;
    i {
      font-size: 2rem;
      margin-right: 0;
    }
  }
}
