.fa-bars {
  margin-left: 14px;
  font-size: 24px;
}

.icon-social {
  font-size: 24px;
  padding: 2px 24px;
  margin-top: 30px;
  background: $m-black;
  width: 230px;
  i {
    color: white;
  }
}
.fa-linkedin {
  &:hover {
    color: $m-green;
  }
}
.fa-github-square {
  &:hover {
    color: $m-pink;
  }
}
.fa-envelope {
  &:hover {
    color: $m-blue;
  }
}
