.navbar-lgn {
  justify-content: space-between;
  background: $m-color;
  min-height: 72px;
}

.navbar-lgn .navbar-collapse {
  flex-grow: 0;
}

// .navbar-lgn .navbar-brand img {
//   width: 40px;
// }

// dropdown
.dropdown-menu {
  // background: rgba(255, 255, 255, 0.15);
  background: transparent;
  border: none;
}

.dropdown-item {
  // border: 4px solid transparent;
  // transition: 0.25s ease;
  &:hover {
    // background: rgba(255, 255, 255, 0.3);
    // border: 4px solid $m-black;
    background: transparent;
    font-weight: bold;
  }
}

// navbar options
.navbar-light .navbar-nav .nav-link {
  color: $m-black;
  margin-right: 58px;
  transition: 0.25s ease;
  &:hover {
    color: $m-black;
    border-bottom: 4px solid $m-black;
  }
}

.navbar-light .navbar-nav .active {
  font-weight: 700;
  .nav-link {
    border-bottom: 4px solid $m-black;
  }
}
