/* ================
  navbar style
=================*/

#navbar {
  z-index: 9999;
  justify-content: space-between;
  background: $m-color;
  min-height: 4.5em;
  padding: 0.5em 2.5em;
  position: fixed;
  top: 0;
  width: 100%;
}

#navbar .navbar-collapse {
  flex-grow: 0;
}

/*----dropdown----*/
.dropdown-menu {
  background: $m-black;
  border: none;
}

.dropdown-item {
  font-size: 1.12rem;
  font-family: $my-font-h;
  color: white;
  &:hover {
    background: transparent;
    font-weight: bold;
    color: white;
  }
}

/*----navbar options----*/
.nav-link {
  color: $m-black;
  font-size: 1.12rem;
  font-weight: 600;
  font-family: $my-font-h;
  margin-left: 3.6em;
  padding: 0.44em 0;

  transition: 0.25s ease;
  border-bottom: 4px solid transparent;
  &:hover {
    color: $m-black;
    border-bottom: 4px solid $m-black;
  }
}

.active .nav-link{
  border-bottom: 4px solid $m-black;
  color: $m-black;
}

@media (min-width: 100px) and (max-width: 575px) {
  .nav-link {
    margin: 0.37em 0.5em;
  }
  #navbar {
    padding: 0.5em;
  }
}
