#navbar {
  z-index: 9999;
}

.navbar-lgn {
  justify-content: space-between;
  background: $m-color;
  height: 72px;
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-lgn .navbar-collapse {
  flex-grow: 0;
}

// dropdown
.dropdown-menu {
  background: $m-black;
  border: none;
  .dropdown-divider {
    // border-color: $m-color;
  }
}
// .dropdown-menu {
//   background: transparent;
//   border: none;
//   .dropdown-divider {
//     border-color: $m-black;
//   }
// }

.dropdown-item {
  font-size: 18px;
  font-family: $my-font-h;
  color: white;
  &:hover {
    background: transparent;
    font-weight: bold;
    color: white;
    // text-shadow: 0 0 10px $m-green;
  }
}

// navbar options
.navbar-light .navbar-nav .nav-link {
  color: $m-black;
  font-size: 18px;
  font-family: $my-font-h;
  margin-right: 58px;
  transition: 0.25s ease;
  &:hover {
    color: $m-black;
    border-bottom: 4px solid $m-black;
  }
}

.navbar-light .navbar-nav .active {
  font-weight: 700;
  .nav-link {
    border-bottom: 4px solid $m-black;
    color: $m-black;
  }
}
