// .text-subtitle {
//   font-weight: 700;
//   font-family: $my-font;
//   color: $m-color;
//   text-align: center;
// }

.text-wfbb {
  background: $m-black;
  color: white;
}

.text-bfwp {
  background: $m-color;
  color: white;
}

.text-purple {
  color: $m-color;
}

.text-purple-d {
  color: $m-color-d;
}

.text-t-s {
  font-weight: bold;
  font-size: 20px;
  color: white;
  text-align: center;
}

.text-t-line {
  font-weight: bold;
  color: $m-color;
}

.text-link {
  color: $m-color;
  transition: 0.15s ease-in-out;
  &:hover {
    color: $m-color;
    border-bottom: 4px solid $m-color-d;
    text-decoration: none;
  }
}

.text-link-d {
  color: $m-color-d;
  transition: 0.15s ease-in-out;
  &:hover {
    color: $m-color;
    border-bottom: 4px solid $m-color-d;
    text-decoration: none;
  }
}
