.text-subtitle {
  font-weight: 700;
  font-family: $my-font;
  color: $m-color;
  text-align: center;
}

.text-wfbb {
  background: $m-black;
  color: white;
}

.text-t-s {
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-align: center;
}

.text-t-line {
  font-weight: bold;
  color: $m-green;
}
