.text-subtitle {
  font-weight: 700;
  font-family: $my-font;
  text-align: center;
}

.text-wfbb {
  background: $m-black;
  color: white;
}

.text-t-s {
  font-weight: bold;
  font-size: 18px;
  color: white;
  text-align: center;
}

.text-t-line {
  border-bottom: 2px solid $m-yellow;
  font-weight: bold;
}
.text-containt {

}
